<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,428},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>cw-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,211},{153,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,133}}</string>
                <key>sourceSize</key>
                <string>{153,133}</string>
            </dict>
            <key>dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>gk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{720,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,149}}</string>
                <key>sourceSize</key>
                <string>{720,149}</string>
            </dict>
            <key>hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,346},{184,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,146}}</string>
                <key>sourceSize</key>
                <string>{184,146}</string>
            </dict>
            <key>jh.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,669},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>jn-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,704},{129,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{129,133}</string>
            </dict>
            <key>k1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,659},{283,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,43}}</string>
                <key>sourceSize</key>
                <string>{283,43}</string>
            </dict>
            <key>k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,384},{283,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,43}}</string>
                <key>sourceSize</key>
                <string>{283,43}</string>
            </dict>
            <key>k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{311,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,75}}</string>
                <key>sourceSize</key>
                <string>{311,75}</string>
            </dict>
            <key>k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{311,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,63}}</string>
                <key>sourceSize</key>
                <string>{311,63}</string>
            </dict>
            <key>k4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,142}}</string>
                <key>sourceSize</key>
                <string>{430,142}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,292},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,211},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,384},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>mx-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,532},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,567},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,315},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>xb-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,146},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,144}}</string>
                <key>sourceSize</key>
                <string>{106,144}</string>
            </dict>
            <key>yuank.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,328},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:583060f2678d73c4e01232910f87d6ec$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
